#contentSection{
    position: relative;
}

/*Style for the buy content area*/

.animalFrame{
    margin-top: 10%;
    width: auto;
    height: 100%;
    background: #676767;
    padding: 5%;
}

.animalInfoDiv{
    margin-top:4%;
}

.placeText{
    padding-left: 0;
}

.specieText{
    padding-left: 0;
}

.contentText{
    color: white;
    padding: 0;
    padding-left: 3%;
}

.headlineText{
    font-size:1.5em;
    font-family: robotoRegular;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom:0;
}

.priceText{
    font-size:1.5em;
    padding-top: 1%;
}

.animalIcon{
    height: 1em;
    width: auto;
    padding: 0;
}

#buyContent{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.frameHeight{
    display: flex;
    flex-direction: column;
}

.animalModuleHeader{
    font-family: robotoLight;
    font-size: 3em;
    text-align: center;
    margin-bottom: 5%;
}

.moduleText{
    color: black;
    padding-left: 0%;
}

#placeModule{
    display:block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

#placeTextModule{
    padding-left: 3%;
}

#userModule{
    float: right;
    color: black;
}

.modal-lg{
    width: 1300px;
    height: 900px; /* control height here */
}

#descriptionModule{
    font-family: robotoLight;
    font-size: 1.3em;
    width: 100%;
    margin-top: 5%;

}
.modal-footer {
 border: none;
}