@font-face {
    font-family: robotoLight;
    src: url(Roboto-Light.ttf);
}

@font-face {
    font-family: robotoThin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(Roboto-Regular.ttf);
}

body{
    overflow-x: hidden;
}

/*
html{
    background: url(cats/DSC_01722.png) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    position:relative;
}*/

#coverImage{
    width:100%;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: auto;
    position: relative;
    right: 0;
    top: 0;
}

#downArrow{
    height: 6vh;
    position: relative;
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top:40%;
}

#dvisa{
    position: absolute;
    width: 100vw;
}

#buyState {
    display: block;
}

#sellState{
    display: none;
}





